* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato";
  overflow-x: hidden;
  width: 100vw;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../fonts/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
.font-regular, .font-bold {
  font-family: "Lato", sans-serif;
  color: #333333;
}

.font-bold {
  font-weight: bold;
}

nav {
  width: 100%;
  background-color: #e0e0e0;
}
nav .headerContent {
  height: 80px;
  min-width: viewport-sm;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 22px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}
nav .headerContent .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
nav .headerContent .mainTitle {
  margin: 0 auto 0 20px;
}
@media (max-width: 768px) {
  nav .headerContent .mainTitle {
    margin: auto;
  }
}
nav .headerContent .menu {
  background-color: white;
}
nav .headerContent .menu .menuItems {
  line-height: 19.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
nav .headerContent .menu .menuItems .item {
  margin: 9px 20px;
}
nav .headerContent .menu .menuItems .item:first-child a::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #979797;
  transform: translateX(20px);
}
nav .headerContent .menu .menuItems .item a {
  font-size: 1.6rem;
  color: #333333;
  position: relative;
}
@media (max-width: 768px) {
  nav .headerContent .menu {
    display: none;
  }
}
nav .headerContent .burgerButton {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
}
nav .headerContent .burgerButton .burger {
  height: 2px;
  width: 100%;
  background-color: #333333;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (min-width: 768px) {
  nav .headerContent .burgerButton {
    display: none;
  }
}

main .transaction .title, main .content .card .cardTitle {
  line-height: 22px;
  margin: 7px auto 22px;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  min-width: viewport-sm;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 22px;
  gap: 10px;
}
main .content .card {
  height: 344px;
  width: 400px;
  border-radius: 4px;
  border: 1px solid #979797;
  padding: 15px;
}
main .content .card .cardTitle {
  font-size: 1.8rem;
}
main .content .card .cardContent {
  height: calc(100% - 83px);
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
main .content .card .cardContent .formGroup {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
}
main .content .card .cardContent .formGroup label {
  line-height: 22px;
  font-size: 1.4rem;
}
main .content .card .cardContent .formGroup input, main .content .card .cardContent .formGroup select {
  border-radius: 4px;
  border: 1px solid #979797;
  font-size: 1.4rem;
  line-height: 22px;
  padding: 5px 12px;
}
main .content .card .cardContent .formGroup input::placeholder, main .content .card .cardContent .formGroup select::placeholder {
  color: #888888;
}
main .content .card .cardContent .formGroup select {
  height: 33px;
}
main .content .card .cardFooter {
  display: grid;
  place-items: center;
}
main .content .card .cardFooter button {
  width: 370px;
  height: 32px;
  border-radius: 4px;
  background-color: #333333;
  border: none;
  font-size: 1.4rem;
  color: white;
}
main .transaction {
  width: 100%;
}
@media (max-width: 768px) {
  main .transaction {
    margin-top: 42px;
  }
}
main .transaction .title {
  font-size: 1.8rem;
}
main .transaction table {
  font-size: 1.4rem;
  line-height: 16px;
  border-collapse: collapse;
  width: 100%;
}
main .transaction table tr {
  border-top: 1px solid #333333;
}
main .transaction table td, main .transaction table th {
  text-align: center;
  padding: 8px 10px;
}
main .transaction table td:first-child, main .transaction table th:first-child {
  width: 10px;
  padding-right: 0;
  text-align: left;
}
main .transaction table td:nth-child(2), main .transaction table th:nth-child(2) {
  text-align: left;
}
main .transaction table td:nth-child(3), main .transaction table th:nth-child(3) {
  text-align: right;
}
main .transaction table thead {
  font-weight: bold;
}
main .transaction table thead tr {
  border: none;
}
main .transaction table thead tr th {
  text-align: left;
}
main .transaction table tbody tr td {
  vertical-align: super;
}
main .transaction table tbody tr td:nth-child(2) {
  width: 50%;
}
@media (max-width: 768px) {
  main .transaction table tbody tr td:nth-child(2) {
    width: 40%;
  }
}
@media (max-width: 500px) {
  main .transaction table tbody tr td:nth-child(2) {
    width: 60%;
  }
}
main .transaction table tfoot {
  font-weight: bold;
}
main .transaction table tfoot tr td {
  padding: 6px 0;
}
main .transaction table tfoot tr td:last-child {
  display: flex;
  flex-direction: column;
}
main .transaction table tfoot tr td:last-child span {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}
@media (min-width: 512px) and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  main .content {
    width: 100%;
  }
  main .content .card {
    width: 100% !important;
    height: 189px;
  }
  main .content .card .cardContent {
    flex-wrap: wrap;
    gap: 5px;
  }
  main .content .card .cardContent .formGroup {
    width: 120px;
    margin: 0;
  }
  main .content .card .cardContent .formGroup:nth-child(2) {
    width: 50%;
  }
}
@media (min-width: 512px) and (max-width: 768px) and (max-width: 574px) {
  main .content .card .cardContent .formGroup:nth-child(2) {
    width: 40%;
  }
}
@media (min-width: 512px) and (max-width: 768px) {
  main .content .card .cardFooter {
    place-items: end;
  }
  main .content .card .cardFooter button {
    width: 189px;
  }
}
@media (max-width: 512px) {
  main {
    flex-direction: column;
  }
  main .content {
    width: 100% !important;
  }
  main .content .card {
    width: 100% !important;
  }
}

.open {
  transform: translateX(0) !important;
}

.sidemenu {
  height: 100vh;
  width: 252px;
  background-color: #333333;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(252px);
  transition: transform 0.1s ease-out;
}
.sidemenu .closeButton {
  width: 16px;
  height: 16px;
  top: 20px;
  left: 20px;
  position: absolute;
  cursor: pointer;
}
.sidemenu .closeButton:before, .sidemenu .closeButton:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}
.sidemenu .closeButton:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sidemenu .closeButton:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sidemenu .menuList {
  margin-top: 46px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.sidemenu .menuList .menuItem {
  padding: 6px;
  text-align: right;
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  line-height: 19.2px;
  width: 100%;
}
.sidemenu .menuList .menuItem:hover {
  background-color: #979797;
  color: #333333;
}
@media (min-width: 768px) {
  .sidemenu {
    display: none;
  }
}
@media (max-width: 512px) {
  .sidemenu {
    width: 351px;
    transform: translateX(351px);
  }
}

/*# sourceMappingURL=main.css.map */
