@import "../utils/mixins";

header{
  @include flex(center, space-between);
  height: 80px;
  min-width: viewport-sm;
  width: 100%;
  max-width: $viewport-lg;
  padding: 22px;
  background-color: $light;

  .logo{
    @include flex();
    gap: 20px;

    .imgLogo{

    }
  }

  .menu{
    background-color: $white;
    
    .menuItems{
      height: 40px;
      @include flex(center, center);
      
      .item{
        padding: 4px 20px;

        &:first-child{
          border-right: 1px solid $secondary;
        }

        a{
          font-size: $text-md;
          color: $primary;
        }
      }
    }
  }

}