@import "../utils/mixins";

header{
  width: 100%;
  background-color: $light;

  .headerContent{
    height: 80px;
    min-width: viewport-sm;
    width: 100%;
    max-width: $viewport-lg;
    margin: 0 auto;
    padding: 22px;
    @include flex(center, space-between);

    .logo{
      @include flex();
      gap: 20px;
  
      .imgLogo{
  
      }
    }
  
    .menu{
      background-color: $white;
      
      .menuItems{
        line-height: 19.2px;
        @include flex(center, center);
        
        .item{
          margin: 9px 20px;
          
          &:first-child{
            
            a::after{
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              background-color: $secondary;
              transform: translateX(20px);
            }
          }

          a{
            font-size: $text-md;
            color: $primary;
            position: relative;

          }
        }
      }
    }
  }

}