@import "../utils/mixins";

nav{
  width: 100%;
  background-color: $light;

  .headerContent{
    height: 80px;
    min-width: viewport-sm;
    width: 100%;
    max-width: $viewport-lg;
    margin: 0 auto;
    padding: 22px;
    @include flex(center, start);

    .logo{
      @include flex();
      gap: 20px;
  
      .imgLogo{
  
      }
    }

    .mainTitle{
      margin: 0 auto 0 20px;

      @media(max-width: $viewport-md){
        margin: auto;
      }
    }
  
    .menu{
      background-color: $white;
      
      .menuItems{
        line-height: 19.2px;
        @include flex(center, center);
        
        .item{
          margin: 9px 20px;
          
          &:first-child{
            
            a::after{
              content: "";
              position: absolute;
              width: 1px;
              height: 100%;
              background-color: $secondary;
              transform: translateX(20px);
            }
          }

          a{
            font-size: $text-md;
            color: $primary;
            position: relative;

          }
        }
      }

      @media(max-width: $viewport-md){
        display: none;
      }
    }

    .burgerButton{
      cursor: pointer;
      width: 24px;
      height: 24px;
      display: grid;
      place-items: center;

      .burger{
        height: 2px;
        width: 100%;
        background-color: $primary;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }

      @media(min-width: $viewport-md){
        display: none;
      }
    }
  }

}