@import "../utils/mixins";
@import "../components/title";

main{

  @include flex(start, space-between, nowrap);
  min-width: viewport-sm;
  width: 100%;
  max-width: $viewport-lg;
  margin: 0 auto;
  padding: 30px 22px;
  gap: 10px;

  .content{
    
    .card{
      height: 344px;
      width: 400px;
      border-radius: 4px;
      border: 1px solid $secondary;
      padding: 15px;
  
      .cardTitle{
        @include title($text-lg);
      }
  
      .cardContent{
        height: calc(100% - 83px);
        @include flex(center, stretch);
        flex-direction: column;
  
        .formGroup{
          margin: auto 0;
          @include flex(stretch, space-between);
          flex-direction: column;
          width: 100%;
    
          label{
            line-height: 22px;
            font-size: $text-sm;
          }
    
          input, select{
            border-radius: 4px;
            border: 1px solid $secondary;
            font-size: $text-sm;
            line-height: 22px;
            padding: 5px 12px;
  
            &::placeholder{
              color: $text-secondary;
            }
          }

          select{
            height: 33px;
          }
        }
        
      }

      .cardFooter{

        display: grid;
        place-items: center;

        button{
          width: 370px;
          height: 32px;
          border-radius: 4px;
          background-color: $primary;
          border: none;
          font-size: $text-sm;
          color: $white;
        }
      }
  
  
    }  
  }
  
  .transaction{
    width: 100%; 
    

    @media(max-width: $viewport-md){
      margin-top: 42px;
    }

    .title{
      @include title($text-lg);
    }

    table{
      font-size: $text-sm;
      line-height: 16px;
      border-collapse: collapse;
      width: 100%;

      tr{
        border-top: 1px solid $primary;
      }

      td,th{
        text-align: center;
        padding: 8px 10px;

        &:first-child{
          width: 10px;
          padding-right: 0;
          text-align: left;
        }

        &:nth-child(2){
          text-align: left;
        }

        &:nth-child(3){
          text-align: right;
        }
      }

      thead{
        font-weight: bold;

        tr{
          border: none;

          th{
            text-align: left;
          }
        }
      }

      tbody{

        tr{
          
          td{
            vertical-align: super;

            &:nth-child(2){
              width: 50%;
            }

            @media(max-width: $viewport-md){
              &:nth-child(2){
                width: 40%;
              }
            }

            @media(max-width: 500px){
              &:nth-child(2){
                width: 60%;
              }
            } 
          }
        }
      }

      tfoot{
        font-weight: bold;
        // line-height: 22px;

        tr{
          
          td{
            padding: 6px 0;

            &:last-child{
              display: flex;
              flex-direction: column;

              span{
                font-weight: 400;
                text-transform: uppercase;
                font-size: $text-xm;
              }
            }

          }
        }
      }

    }
  }

  
  @media(min-width: $viewport-sm) and (max-width: $viewport-md){
    flex-direction: column;

    .content{
      width: 100%;
      
      .card{
        width: 100% !important;
        height: 189px;

        .cardContent{
          flex-wrap: wrap;
          gap: 5px;

          .formGroup{
            width: 120px;
            margin: 0;

            &:nth-child(2){
              width: 50%;
            }

            @media(max-width: 574px){
              &:nth-child(2){
                width: 40%;
              }
            }
          }
        }

        .cardFooter{
          place-items: end;

          button{
            width: 189px;
          }
        }
      }
    }
  }

  @media(max-width: $viewport-sm){
    flex-direction: column;

    .content{
      width: 100% !important;

      .card{
        width: 100% !important;
      }
    }
  }
}